<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_PROFILES" name="profiles">
        
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_profiles" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>

    <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>

        <field
          name="integration_sef"
          type="note"
          label="JGLOBAL_SEF_TITLE"
        />

        <field
          name="sef_advanced"
          type="radio"
          class="btn-group btn-group-yesno btn-group-reversed"
          default="0"
          label="JGLOBAL_SEF_ADVANCED_LABEL"
          description="JGLOBAL_SEF_ADVANCED_DESC"
          filter="integer"
          >
          <option value="0">JGLOBAL_SEF_ADVANCED_LEGACY</option>
          <option value="1">JGLOBAL_SEF_ADVANCED_MODERN</option>
        </field>

        <field
          name="sef_ids"
          type="radio"
          class="btn-group btn-group-yesno"
          default="0"
          label="JGLOBAL_SEF_NOIDS_LABEL"
          description="JGLOBAL_SEF_NOIDS_DESC"
          showon="sef_advanced:1"
          filter="integer"
          >
          <option value="1">JYES</option>
          <option value="0">JNO</option>
        </field>
    </fieldset>
</config>
